<% provide(:title, "ユーザー情報修正") %>
<main>
  <h2 class="text-center mt-5">ユーザ情報修正</h2>
  <table width="50%" style="margin-left:350px">
    <%= form_with model: @user do |form| %>

    <tr height="40">
      <td align="center">
          氏名
        <%= form.label :first_name, "姓" %>
        <%= form.text_field :first_name %>
        <span style="float: right">
        <%= form.label :last_name, "名" %>
        <%= form.text_field :last_name %>
        </span>
      </td>
    </tr>

    <tr height="40">
      <td align="center">
        住所<span style="float: right">〒<%= form.text_field :zipcode, :size => "50" %></span>
      </td>
    </tr>

    <tr height="40">
      <td align="right">
        都道府県<%= form.text_field :prefecture, :size => "50" %>
      </td>
    </tr>

    <tr height="40">
      <td align="right">
        市町村区<%= form.text_field :municipality, :size => "50" %>
      </td>
    </tr>

    <tr height="40">
      <td align="right">
        番地<%= form.text_field :address, :size => "50" %>
      </td>
    </tr>

    <tr height="40">
      <td align="center">
        マンション部屋番号<%= form.text_field :apartments, :size => "50" %><td align="left"><br></br>
      </td>
    </tr>

    <tr height="40">
      <td align="center">
        メールアドレス<%= form.email_field :email, :size => "50" %>
      </td>
    </tr>

    <tr height="40">
      <td align="center">
        電話番号<%= form.telephone_field :phone_number, :size => "50" %>
      </td>
    </tr>

    <tr height="40">
      <td align="center">
        パスワード<%= form.password_field :password, :size => "50" %>
      </td>
    </tr>

    <tr height="40">
      <td align="center">
        パスワード(再入力)<%= form.password_field :password, :size => "50" %>
      </td>
    </tr>

  </table>

  <div class="row mt-5">
    <div class="col-5">
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary" type="submit">修正</button>
      </div>
    </div>

    <div class="col-5 offset-2">
      <button class="btn btn-danger" type="submit">退会</button>
    </div>

    <% end %>
  </div>
</main>
