  <p>商品名：<%= product.product_name %></p>
  <p>カテゴリー：<%= product.category.category_name %></p>
  <p>販売単価：<%= product.price %>円</p>
  <p>商品説明：<%= product.description %></p>
  <p>販売状態：<%= product.sale_status.sale_status_name %></p>
  <p>商品状態：<%= product.product_status.product_status_name %></p>
  <p>商品登録日：<%= product.regist_date %></p>
  <p>ユーザーID：<%= product.user.id %></p>